.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0px;
  height:110px;
  width: 100%;
  text-align: center;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
}
.header h1 {
  font-size: 900;
  margin-bottom: 0px;
}

.header h2 {
  margin-top: 0px;
}
.navbarContainer {
  top: 110px;
  height:80px;
  position: sticky;
  width: 100%;
  padding: 0px;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  justify-content: space-evenly;
  margin: 0px;
}

.navbar li {
  margin: 0 10px;
}

.navbar button {
  background-color: #9ab3ff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.navbar button:hover {
  background-color: #5d48ff;
  color: aliceblue;
}
.body {
  width: 95%;
  margin: auto;
  padding: 40px 20px;
  padding-top: 0px;
}
.header_img{
  width:100px;
  height: 100px;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
}
.header_div{
  margin:auto;
}