.infoGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #b9e1fd;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.infoHeading {
  background-color: #cbc9ff;
  padding: 10px 0px;
  margin-left: 20px;
  padding-left: 10px;
}

h2 {
  display: block;
  width: 100%;
}
.formElement {
  margin: 10px;
  width: 45%;
}
.formElement input {
  width: 80%;
  height: 30%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333333;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.formElement select {
  width: 84%;
  height: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333333;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.formElement textarea {
  width: 80%;
  height: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333333;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.infoGroup label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9e1fd;
  margin-top: 0px;
  padding: 30px 0px;
}

.btn button {
  width: 40%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #4c86af;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn button:hover {
  background-color: #4247cb;
}

.btn button:active {
  background-color: #1e2aad;
}

/* status */
.statusGroup {
  margin-bottom: 20px;
  background-color: #95d3ff;
  border-radius: 5px;
  padding-bottom: 20px;
}
.statusHeading {
  text-align: center;
  padding: 10px 0px;
  background-color: #a0dbff;
}

.statusGroup > div {
  display: flex;
  justify-content: space-around;
}

.statusGroup button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
}

.statusGroup button.active {
  background-color: #b6bcff; /* Change to the desired color when clicked */
}

/* hostellite */

.hostellite {
  margin-bottom: 20px;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 45px;
  width: 45%;
  margin-left: 20px;
}
.hostellite > div {
  display: flex;
  justify-content: center;
}

.hostellite button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
  margin-right: 30px;
}

.hostellite button.active {
  background-color: #a9b0ff; /* Change to the desired color when clicked */
}
.getBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9e1fd;
  margin-top: 0px;
  padding: 30px 0px;
}
.getBtn > button {
  width: 70%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #4c86af;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.getBtn button:hover {
  background-color: #4247cb;
}

.getBtn button:active {
  background-color: #1e2aad;
}
.link {
  width: 30%;
  flex-wrap: wrap;
  margin: 10px;
  padding: 30px 60px;
  background-color: #95d3ff;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 25px;
  margin-top: 15px;
  border: 2px rgb(170, 170, 250) dashed;
}
.link > a {
  text-decoration: none;
  font-size: large;
  color: #000000;
  border-radius: 20px;
}
